@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap");

$color-primary: hsl(185, 75%, 39%);
$color-secondary: hsl(229, 23%, 23%);
$color-tertiary: hsl(227, 10%, 46%);
$color-fourth: hsl(0, 0%, 59%);
$color-white: #fff;
$color-black: #000;

$font-primary: "Kumbh Sans", sans-serif;
$weight-paragraph: 400;
$weight-title: 700;
